.playbutton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    position: absolute;
    content: '';
    background: #FF5555;
    border-radius: 20px;
    transform: matrix(0.24, 0.96, -0.98, 0.22, 0, 0);
    width: 45px;
    height: 45px;
  }

  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    transform: translateX(6px);
    border-width: 10px 10px 10px 15px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    z-index: 1;
  }
}