.button-primary {
    font-size: 16px;
    background: var(--color-text);
    border: var(--color-text) 3px solid;
    color: var(--color-background);
    border-radius: 7px;
    padding: 12px 27px;
    min-width: 150px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-secundary {
    background: var(--color-primary);
    color: var(--color-background);
    padding: 15px 12px;
    border-radius: 7px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.button-tertiary {
    font-size: 16px;
    font-weight: 500;
    background: var(--color-background);
    border: none;
    color: var(--color-text);
    border-radius: 7px;
    padding: 7px 27px;
    min-width: 150px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

button > svg {
    margin-left: 0.5em;
}