.item-label-container {
    display: flex;
    flex-direction: column;
}

.item-label-title {
    text-align: center;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

.item-label-text {
    text-align: center;
    font-size: 1rem;
    display: flex;
}