.testimonial-card {
  display: flex;
  flex-direction: column;
  flex-basis: 25rem;
  min-height: calc(437rem / 14);
  flex-grow: 1;


  & img {
    position: relative;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .image-container {
    position: relative;
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }

  .link-box {
    display: flex;
    column-gap: 1rem;
    border-bottom: 1px solid;
    padding: 1rem 0;
    cursor: pointer;

    & p {
      font-weight: 500;
    }


    & span {
      width: 1.2rem;
      display: flex;
      align-items: center;

      & img {
        width: 100%; /* Scale to fit the span */
        height: auto; /* Maintain aspect ratio */
      }
    }
  }

  & a {
    position: relative;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: 500;
    line-height: 2rem;
  }
}

.video-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 0;
}

.testimonial-text {
  line-height: 2rem;
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}
