.testimonial-card {
  display: flex;
  flex-direction: column;
  border-radius: .3rem;
  border: 2px solid;
  flex-basis: 20rem;
  padding: 1rem ;

  & img {
    width: 100%;
  }


  & a {
    position: relative;
    text-align: center;
  }

  & a::before {
    content: '';
    background: #FF5555;
    border-radius: 8px;
    transform: matrix(0.24, 0.96, -0.98, 0.22, 0, 0);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
  }

  & a::after {
    content: '';
    width: 0;
    height: 0;
    transform: translateX(5px);
    border-width: 4px 4px 4px 8px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    z-index: 1;
    left: 2px;
    position: absolute;
  }
}