/* ------------------------------- Areas ---------------------------------------- */

/* --------------- Header ------------------------- */
.header {
  background-color: var(--color-tertiary);
}

.header-content {
    padding: 20px 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* --------------- Courses ------------------------- */
.courses-section {
    background-color: var(--color-secondary);
}

/* --------------- Testimonial Video's ------------------------- */
.testimonial-section {
    background-color: var(--color-background-light);
    display: flex;
    padding: 1rem
}

/* --------------- Talent Pool ------------------------- */
.talentpool-section {
    background-color: var(--color-secondary);
}

/* --------------- Footer ------------------------- */
.footer-section {
    background-color: var(--color-text);
    color: white;
}