/* ------------------------------- Areas ---------------------------------------- */

/* --------------- Header ------------------------- */
.header {
  background-color: var(--color-tertiary);
}

.header-content {
  padding: 20px 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* --------------- Courses ------------------------- */
.courses-section {
  background-color: var(--color-secondary);
}

/* --------------- Testimonial Video's ------------------------- */
.testimonial-section {
  padding-bottom: 8rem;
  & .testimonial-cards {
    background-color: var(--color-background-light);
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    width: 100%;
  }

  & .title-box {
    padding-top: 7rem;
    padding-bottom: 1.2rem;
  }

  & h1, h1 + p {
    text-align: center;
  }

  & h1 + p {
    font-size: 1.2rem;
    padding-top: 1.8rem;
  }
}

/* --------------- Talent Pool ------------------------- */
.talentpool-section {
  background-color: var(--color-secondary);
}

/* --------------- Footer ------------------------- */
.footer-section {
  background-color: var(--color-text);
  color: white;
}

/* --------------- Vimeo video ------------------------- */
.ReactModal__Overlay {
  z-index: 4;
}
